@charset "utf-8";

/* skipToContent */
#skipToContent a {position:absolute; top:0; left:0; z-index:9999; width:100%; height:1px; margin-top:-1px; display:block; background-color:#3875c1; font-size:14px; font-weight:bold; color:#fff; line-height:1; text-align:center; overflow:hidden;}
#skipToContent a:focus,
#skipToContent a:active {margin-top:0; height:auto; padding:10px 0px;}

/* common */
.ovH {overflow:hidden; width:100%; margin-bottom:6px;}
.ovH:after {clear:both; content:""; display:block;}
.clearBoth {clear:both !important;}
.hidden {overflow:hidden; position:absolute; left:-9999em; height:0; font-size:0; line-height:0;}
.disNone {display:none !important;}
.disBlock {display:block !important;} /* 문단 나눔 : only - display:block */
.disInline {display:inline;} /* 문단 나눔 : 모바일 display:block */
.br {display:block;} /* 문단 나눔 : 모바일 display:inline */
.moneyBlock {display:inline-block;width:80px;}

.textDeco {text-decoration:underline !important;}
.textInde {text-indent:0 !important;}

/* text-align */
.tl {text-align:left !important;}
.tr {text-align:right !important;}
.tc {text-align:center !important;}
.vt {vertical-align:top !important}
.vm {vertical-align:middle !important;}

/* float */
.fl {float:left !important;}
.fr {float:right !important;}

/* Font Color */
.colorBlu {color:#355595 !important;}
.colorRed {color:#c8212f !important;}
.colorBlk {color:#4d4d4d !important;}

/* link */
a.link:link, a.link:active, a.link:visited, a.link:hover {text-decoration:underline; color:#355595;}

/* 타이틀 */
.titArea {overflow:hidden; margin-bottom:16px;}
.titArea .titType1 {display:inline-block; margin:0 !important;}
.titArea .btn {display:inline-block; margin-left:7px;}
.titArea .deco {display:inline-block; line-height:140%; margin-left:17px; padding-left:8px; background:url('../../common/images/common/bul/bul_titDeco.png') no-repeat 0 6px; vertical-align:top;}
.titArea + .listNum {margin-top:-5px;}

.titType1 {margin-bottom:16px;padding-left:18px;background:url(/common/images/common/bul/blt_all.png) no-repeat 0 -146px;color:#333;font-size:14px;font-weight:bold;line-height:120%;}
.titType1 + .p {margin-top:-5px;}
.titType1 + .txtRefer {margin-left:18px;}
.titType2 {line-height:120%;margin:0 0 9px 6px;padding-left:12px;background:url(/common/images/common/bul/blt_dot2.png) no-repeat 0 7px;font-weight:bold;}
.titType3 {margin:0 0 12px 6px;}
.addTitBtn {*zoom:1;}
.addTitBtn:after {content:"";display:block;clear:both;}

/* button */
.ie7 button, .ie7 input[type="button"] {overflow:visible; margin:0 2px; white-space:nowrap;}

.btnArea {overflow:hidden; width:100%; margin-bottom:40px;}
.btnArea02 {overflow:hidden; width:100%; margin-bottom:40px; text-align:center;}
.btnArea03 {overflow:hidden;width:100%;margin:-15px 0 40px 0;}
.btnArea.sub {margin-top:-59px; text-align:right;}

.btnMd {display:inline-block; min-width:90px; height:30px; line-height:29px; padding:0 17px 3px; background:#5f5f5f; font-size:12px; color:#fff; vertical-align:middle; text-align:center;}
input.btnMd {padding-bottom:4px;}
a.btnMd {min-width:56px; height:27px; line-height:29px; padding-bottom:3px; color:#fff;}
a.btnMd.blue {border:none !important;}
.ie7 button.btnMd {line-height:22px !important;}
.ie8 button.btnMd {line-height:26px !important;}
@-moz-document url-prefix() {
	.btnMd {padding-right:14px; padding-left:14px;}
	input.btnMd {padding-bottom:6px;}
}
.btnMd.btGo {padding-right:0; padding-left:0; background:#355595; letter-spacing:-1px;}
.btnMd.btGo span {display:inline-block; min-width:60px; padding-right:30px; padding-left:19px; background:url('../../common/images/common/bul/bul_btnNext.png') no-repeat 90% 55% !important;}

.btnMd.btPrev,
.btnMd.btPrev span {display:inline-block; width:48px; margin:0 auto; padding-left:20px; background:url('../../common/images/common/bul/bul_btnPrev.png') no-repeat 0 55%;line-height:29px;}
.btnMd.btNext span {display:inline-block; width:48px; margin:0 auto; padding-right:20px; background:url('../../common/images/common/bul/bul_btnNext.png') no-repeat 100% 55%;line-height:29px;}

.btnGray {display:inline-block; min-width:60px; height:27px; -webkit-border-radius:0 !important; padding:0 19px 4px !important; background:rgba(115,115,115,1); border-radius:0 !important; padding-bottom:3px; background:#737373; color:#fff; font-size:12px; vertical-align:middle; text-align:center;}
.ie7 .btnGray, .ie8 .btnGray {padding-bottom:1px !important;}
.ie7 input.btnGray, .ie8 input.btnGray {padding:0 2px 1px !important;}
.ie9 input.btnGray, .ie10 input.btnGray, .ie11 input.btnGray {padding:1px 19px 3px !important;}
@-moz-document url-prefix() {input.btnGray {padding-right:16px !important; padding-left:16px !important;}}
.btnGray.add {padding-right:30px !important;background:#737373 url(/common/images/common/bul/bul_addDel.png) no-repeat right 9px;}
.btnGray.del {padding-right:30px !important;background:#737373 url(/common/images/common/bul/bul_addDel.png) no-repeat right -11px;}

.btnSch {display:inline-block; min-width:60px; height:27px; padding-bottom:3px; -webkit-border-radius:0 !important; background:rgba(115,115,115,1); border-radius:0 !important; background:#737373; color:#fff; font-size:12px; vertical-align:middle; text-align:center;}
input.btnSch {padding:0 19px 4px !important;}
.ie7 .btnSch, .ie8 .btnSch {padding-bottom:1px !important;}
.ie7 input.btnSch, .ie8 input.btnSch {padding:0 2px 1px !important;}
.ie9 input.btnSch, .ie10 input.btnSch, .ie11 input.btnSch {padding:1px 19px 3px !important;}
@-moz-document url-prefix() {input.btnSch {padding-right:16px !important; padding-left:16px !important;}}

.btnSm {display:inline-block; min-width:60px; height:27px; -webkit-border-radius:0 !important; border:1px solid #d2d2d2 !important; background:#f0f0f0; border-radius:0 !important; padding-bottom:3px; background:#f0f0f0; color:#4d4d4d; font-size:12px; vertical-align:middle; text-align:center;}
input.btnSm {padding:0 19px 4px !important;}
a.btnSm {min-width:22px; height:25px; line-height:23px; padding:0 15px !important;}
.ie7 .btnSm, .ie8 .btnSm {padding-bottom:1px !important;}
.ie7 input.btnSm, .ie8 input.btnSm {padding:0 2px 1px !important;}
.ie9 input.btnSm, .ie10 input.btnSm, .ie11 input.btnSm {padding:1px 15px 3px !important;}
@-moz-document url-prefix() {input.btnSm {padding-right:16px !important; padding-left:16px !important;}}

.btnIcon {display:inline-block; min-width:84px; height:20px; line-height:150%; padding:0 10px 2px 26px; background-color:#336633; background-repeat:no-repeat; background-position:10px 50%; font-size:11px; color:#fff; vertical-align:middle;}
a.btnIcon {min-width:44px !important; height:19px; padding:1px 10px 0 26px; color:#fff;}
.ie7 button.btnIcon, .ie8 button.btnIcon {min-width:44px !important; padding-top:2px;}
.ie9 button.btnIcon, .ie10 button.btnIcon, .ie11 button.btnIcon {padding:0 10px 2px 30px;}
.ie7 a.btnIcon, .ie8 a.btnIcon {height:18px; padding:2px 10px 0 30px;}
.ie9 a.btnIcon, .ie10 a.btnIcon, .ie11 a.btnIcon {height:17px !important; padding:1px 10px 2px 30px !important;}
@-moz-document url-prefix() {.btnIcon {padding-right:7px; padding-left:27px;}}

.btnIcon.btDown {background-image:url('../../common/images/common/bul/bul_down.png');}
.btnIcon.btInternet {background-image:url('../../common/images/common/bul/bul_internet.png');}
.btnIcon.btGo {background-image:url('/common/images/common/bul/bul_go.png');}

a.gray, button.gray, input.gray {border:1px solid #767676 !important; background:#767676 !important; color:#fff;}
a.blue, button.blue, input.blue {background:#355595 !important; color:#fff;}
a.red, button.red, input.red.pd15 {padding-right:15px; padding-left:15px;}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6fb43f+0,4b69a5+100 */
background: #6fb43f; /* Old browsers */
background: -moz-linear-gradient(top,  #6fb43f 0%, #4b69a5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fb43f), color-stop(100%,#4b69a5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6fb43f 0%,#4b69a5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6fb43f 0%,#4b69a5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6fb43f 0%,#4b69a5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6fb43f 0%,#4b69a5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fb43f', endColorstr='#4b69a5',GradientType=0 ); /* IE6-9 */
}

.btTxt {overflow:hidden; margin-bottom:32px;}
.btTxt > li, p.btTxt {line-height:160%; padding-left:10px; background:url('../../common/images/common/bul/bul_refer.png') no-repeat 0 5px !important;}
.btTxt > li.blue {background:url('../../common/images/common/bul/bul_referBlue.png') no-repeat 0 5px !important; color:#355595;}
.btTxt > li.red {background:url('../../common/images/common/bul/bul_referRed.png') no-repeat 0 5px !important; color:#c8212f;}
.btTxt + .tbTop {margin-top:-27px;}

@media all and (width:1024px), (min-width:1180px) {
	.bankList li {padding:0 33px;}
	.wizardArea .bankList li {padding:0 21px;}
}

@media all and (max-width:850px) {
	/* common */
	.br {display:inline;}
	.disInline {display:block;}
	.listBulDot li > .tableScroll,
	.listBulDot li > .tableStyle02 {margin:0 0 14px !important;}
}

@media only screen and (max-width:767px)  {
	#wrap #contArea .contents {margin-bottom:15px;}
	.contents .titType1 {background:url(/common/images/common/bul/bltMT_tit1.png) no-repeat 0 3px;background-size:9px 9px;-webkit-background-size:9px 9px;}
}

@media only screen and (max-width:727px) {
	.titArea .btn {display:block; margin:5px 0 0;}
	.titArea .deco {display:block; margin-top:10px;}

	/* button */
	.btnArea {margin-bottom:20px;}
	.btnArea button, .btnArea input, .btnArea a {width:100%; margin-top:5px;}
	.btnArea button:first-child, .btnArea input:first-child, .btnArea a:first-child {margin-top:0;}
	.btnArea.sub {margin-top:-10px; text-align:left;}
	.btnArea03 a {margin-top:5px;}

	.btnMd {min-width:68px; padding-right:0 !important; padding-left:0 !important;}
	a.btnMd {min-width:68px; padding-right:0 !important; padding-left:0 !important;}
	a.btnSm {padding-right:0 !important; padding-left:0 !important}

	.btnMd.btGo {width:100%; margin-top:5px;}
	.btnMd.btGo:first-child {margin-top:0;}

	.btnMd.btPrev,
	.btnMd.btNext {width:48.5%; margin-top:0;}
	.btnMd.btPrev {float:left;}
	.btnMd.btNext {float:right;}

	a.btnIcon {height:17px; padding-top:3px;}
}

/* media print */
@media print {
    * {color:#333;text-shadow:none !important;}
	header,
	footer,
   	#topAd,
    #lnb {display:none;}
	#container {width:100%;max-width:100%;margin:0;padding:0;}

	@page {size:a4;page-break-after:always;}
}

